:root {
    --header-backgroud: rgb(63, 68, 72);
    --alternate-color:  rgb(205, 118, 205);
    --text-color: white;
    --standard-border-radius:50px;
  }

  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--header-backgroud);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
  }
  header p {
    color: var(--text-color)
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
    margin-top: auto;
  }

  pre {
    color: var(--text-color);
  }
  
  .products {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    border-style: dashed;
    border-color: var(--text-color);
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    color: var(--alternate-color);
  }

  .inner-card {
    border-radius: 5px;
    background: linear-gradient(var(--header-backgroud), var(--alternate-color));
    flex: 0 0 300px;
    margin:3px;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }