:root {
    --header-backgroud: rgb(63, 68, 72);
    --alternate-color:  rgb(205, 118, 205);
    --text-color: white;
    --standard-border-radius:50px;
  }

  * {
    font-family:sans-serif;
  }
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--header-backgroud);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  header {
    padding: 40px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
  }
  header p {
    color: var(--text-color)
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
    margin-top: auto;
  }

  pre {
    color: var(--text-color);
    font-size: 13px;
    font-family:'Courier New', Courier, monospace
  }
  
  .products {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    border-style: dashed;
    border-color: var(--text-color);
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
    color: var(--alternate-color);
  }

  .card h2 {
    position: relative;
    margin-top: -20px;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 5px;
    background-color: var(--header-backgroud);
    border-width: 1px;
    padding: 3px;
  }

  .inner-card {
    border-radius: 5px;
    background: linear-gradient(var(--header-backgroud), var(--alternate-color));
    flex: 0 0 300px;
    margin:3px;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }
  
  .card .h2 {
    border-radius: 8px;
    transition: all 0.5s ease-in-
  out;
  }
  
  .card:hover,
  .card:hover h2 {
    box-shadow: inset 0px 0px 8px
  rgba(232, 102, 236, 1), 0 0 15px
  rgba(232, 102, 236, 1);
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
