:root {
    --header-backgroud: rgb(63, 68, 72);
    --alternate-color: rgba(232, 102, 236, 1);
    --fade-start: rgba(232, 102, 236, .03);
    --fade-end: rgba(232, 102, 236, .6);
    --text-color: white;
    --standard-border-radius:50px;
  }

  * {
    box-sizing:border-box;
    font-family:sans-serif;
  }
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-backgroud);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
  }
  header p {
    color: var(--text-color)
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--header-backgroud);
    color: var(--alternate-color);
    margin-top: auto;
  }

  pre {
    color: var(--text-color);
    font-size: 13px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 5px;
    background: linear-gradient(var(--fade-start), var(--fade-end));
    margin:3px;
    padding: 10px;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }
  
  .card {
    border-style: dashed;
    border-color: var(--text-color);
    border-width: 1px;
    width: 30%;
    padding: 10px;
    margin: 1%;
    color: var(--alternate-color);
  }

  .card h2 {
    position: relative;
    margin-top: -20px;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 5px;
    background-color: var(--header-backgroud);
    border-width: 1px;
    padding: 3px;
  }

  .card h2 {
    border-radius: 8px;
    transition: all 0.5s ease-in-
  out;
  }
  
  .card:hover,
  .card:hover h2 {
    box-shadow: inset 0px 0px 8px
  var(--alternate-color), 0 0 15px
  var(--alternate-color);
  }

  @media screen and (max-width: 992px) {
    .card {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 90%;
    }
  }